
/* src/App.css */
.App {
  font-family: Arial, sans-serif;
  text-align: center;
}

.navbar {
  background-color: #004aad;
  color: white;
  padding: 10px;
}

.navbar a {
  color: white;
  margin: 0 15px;
  text-decoration: none;
}

.circular-list, .archive {
  margin: 20px;
}

input {
  padding: 5px;
  margin-bottom: 10px;
}
